# Python Crash Review

Note that it is suggested that you should take a more comprehensive course of Python programming to better equiped yourself in data science. 

This notebook covers the following basic topics:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods

## 1. Data types

### 1.1 Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [10]:
### modulos can come handy sometimes; e.g., datetime processing
4 % 2

0

In [11]:
5 % 2

1

In [12]:
### the order of operations: () first
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [13]:
# variables names cannot start with number or special characters
name_of_var = 2

In [14]:
x = 2
y = 3

In [15]:
z = x + y

In [16]:
z

5

In [19]:
### note we use ; to keep two statements in the same line
var_1 = 10; var_2 = 30

In [20]:
var_1 + var_2

40

### 1.2 Strings
- length

#### Quoting strings

In [43]:
'This is single quotes'

'This is single quotes'

In [44]:
"This is double quotes"

'This is double quotes'

In [45]:
"Let's wrap a sigle quote inside double quotes."

"Let's wrap a sigle quote inside double quotes."

#### Printing strings

In [46]:
x = 'hello'

In [47]:
### in Jupyter Notebook, call the variable will do the same as print as below
x

'hello'

In [48]:
### this is a print() function
print(x) ### a print statement

hello

In [49]:
### print with {variable_name} gives us more control. Use the string .format() method
### syntax: "some_string {placeholder}".format(value)
num = 12
name = 'Sam'
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [50]:
### although empty placeholders will work too, you will have to maintain the order of the values
print('My number is: {}, and my name is: {}'.format(num, name))

My number is: 12, and my name is: Sam

#### indexing strings & slice notation

In [51]:
str = "ABCDEFG"

In [52]:
# using index
str[0] # should be "A"

'A'

In [53]:
### using slice notation
# everying from B and to the end
str[1:]

'BCDEFG'

In [54]:
# everything from the beginning up to BUT NOT INCLUDING and index point
### note that it's 0, 1, 2, not including 3
str[:3]

'ABC'

In [55]:
# everything in between two indicies
str[1:3]

'BC'

### 1.3 Lists/List literals
- list: sequence of elements separated by comma
- elements can be accessed just like strings
- update elements using append & extend function
- retrieve and update using indices and slicing notations

In [56]:
[1,2,3]

[1, 2, 3]

In [57]:
# lists can contain different types of data
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [62]:
my_list = ['a','b','c']   ### we define a list here
my_list                   ### this will print the contents

['a', 'b', 'c']

In [63]:
# to ADD elements using append
my_list.append('d')

In [64]:
# element added. Let's take a look to confirm
my_list

['a', 'b', 'c', 'd']

In [65]:
### How to append multiple elements to list?
my_list.append('e', 'f') ### won't work

TypeError: list.append() takes exactly one argument (2 given)

In [66]:
### Not working? ==> append takes ONE argument only
### tuple could work... tuples use () and are unchangeable, unlike lists
my_list.append(('e','f'))

In [68]:
### works but not what we want
my_list

['a', 'b', 'c', 'd', ('e', 'f')]

In [69]:
### use the extend() function instead for appending multile elements
my_list.extend(('e','f'))

In [71]:
my_list   ### finally, something that works

['a', 'b', 'c', 'd', ('e', 'f'), 'e', 'f']

#### access elements using indices like strings: indexes and slicing

In [72]:
# using index points
my_list[0]

'a'

In [76]:
my_list[1]

'b'

In [73]:
my_list[1:]

['b', 'c', 'd', ('e', 'f'), 'e', 'f']

In [74]:
my_list[:3]

['a', 'b', 'c']

In [76]:
my_list[1:3]

['b', 'c']

In [79]:
# update an element by reassinging using index notation
# We can do this because lists are "mutable"
my_list[0] = 'NEW'

In [80]:
my_list

['NEW', 'b', 'c', 'd', ('e', 'f'), 'e', 'f']

In [81]:
### a nested list (a list inside a list)
nest = [1,2,3,[4,5,['target']]]

In [82]:
nest[3]

[4, 5, ['target']]

In [83]:
### access element in a nested list
### note this gives us a list

nest[3][2]

['target']

In [84]:
### now it gives us the element, a string
nest[3][2][0]

'target'

In [85]:
### now let's print the element:
### note the quotes are gone
print(nest[3][2][0])

target

### 1.4 Dictionary
   - { curly brackets containing key:value pairs (just like hash tables)}
   - access elements using key rather than indices like in list/string
   - dictionary elements do not retain order but <font color=red>key-value mappings</font>.
   - can have different data types as value

In [86]:
dict1 = {'key1':'item1','key2':'item2'}

In [87]:
dict1

{'key1': 'item1', 'key2': 'item2'}

In [88]:
### access value using key
dict1['key1']

'item1'

In [89]:
### ex: a list as value associated with a key in a Python dictionary
dict2 = { "key1": [1, 2, 3, 4, 5]}

In [90]:
dict2['key1']

[1, 2, 3, 4, 5]

In [95]:
### combining list indexing notation
dict2['key1'][0]

1

In [98]:
### plus variable assignment... since the value of key1 is a list
a_list = dict2['key1']

In [99]:
a_list

[1, 2, 3, 4, 5]

In [94]:
a_list[4]

5

### 1.5 Booleans
- True and False

In [100]:
True

True

In [101]:
False

False

### 1.6 Tuples 
- ( same format as list, but using parentheses )
- access elements using indices
- **<font color=red>immutable</font>**: after creation, does not accept item assignments

In [104]:
t = (1,2,3)

In [105]:
t[0]

1

In [108]:
t[0] = 'NEW'   ### we are trying to change a tuple. This won't work because tuples are immutable

TypeError: 'tuple' object does not support item assignment

### 1.7 Sets
- { a collection of elements }
- curly brackets for enclosing like dictionary and comma-separated like list
- does not allow repetitive elements; allow only **<font color=red>unique</font> elements**

In [109]:
set1 = {1,2,3}

In [110]:
set1

{1, 2, 3}

In [111]:
### elements must be unique
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [112]:
### use the set function on a list will give us a set
set( [ 1, 3, 5, 5, 5, 7, 9 ])

{1, 3, 5, 7, 9}

In [113]:
### add function for set = append for list
set2 = {1, 2 ,3}

In [114]:
set2

{1, 2, 3}

In [115]:
set2.add(333)

In [116]:
set2

{1, 2, 3, 333}

In [117]:
set2.add(333)

In [118]:
### cannot add same value elements
set2

{1, 2, 3, 333}

## 2. Operators
### 2.1 Comparison Operators
- compare two elements to each other
- One = sign is variable assignment and two == comparison operation (equality evaluation)

In [125]:
1 > 2

False

In [126]:
### assign the result to a variable
boo = 3 < 5

In [127]:
boo

True

In [128]:
1 < 2

True

In [129]:
1 >= 1

True

In [130]:
1 <= 4

True

In [131]:
1 == 1 ### equality check

True

In [132]:
'hi' == 'bye'  ### equality

False

In [133]:
"hi" != "bye" ### inequality check

True

## 2.2 Logic Operators
- and/or
- AND/OR <== won't work becasue keywords are case sensitive

In [134]:
### and: both sides have to be true to be true
(1 > 2) and (2 < 3)

False

In [135]:
### only one has to be true for this statement to be true
(1 > 2) or (2 < 3)

True

In [136]:
(1 == 2) or (2 == 3) or (4 == 4) ### one true will result the comparison true

True

## 3. Conditionals 
### if, elif, else Statements
- when the condition true, execute the condition block (and the block only)
- note that Python uses indentation (speace) instead of code blocks to separate code statements
- condition blocks (if and elif) cannot be empty
- first condition met terminates the conditional

In [137]:
### note the colon
### note the indentation of second line. 
### standard syntax
if True:
    print('Yep!')

Yep!

In [138]:
if 1 < 2:
    print('yep!')

yep!

In [141]:
### now let's add else statement. Note the : and code blocks follow
if 1 < 2:
    print('first')
else:
    print('last')

first

In [142]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [143]:
### What happens when we have multiple expressions that are evaluated true???
if 1 == 2:
    print('first')
elif 3 == 3:        ### first True condition, will be executed.
    print('second')
elif 5 == 5:        ### also True, but will not be executed.
    print('third')  ### although will not be executed, cannot be left blank
else:
    print('all other conditions')

second

## 4. Iteration
### 4.1 for Loops
- execute a block of code on every element in a object (sequence of elements)
- the sequence implies the number of times the block of code will be executed
- code executed does not have to be related to the sequence; meaning the sequence can be meaningful or simply as control
- the temporary variable name is arbitrary; common temproary variable names are i (index), num, file, ...
- begins with the <font color=red>for</font> keyword

In [156]:
seq = [1,2,3,4,5]

In [160]:
### note the indentation. : is followed by an indented code block
for item in seq:
    print(item)

1
2
3
4
5

In [144]:
### Note that the code executed is not related to the sequence except the TIME it's executed.
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [146]:
for item in seq:
    print(item, 'Yep')

1 Yep
2 Yep
3 Yep
4 Yep
5 Yep

In [147]:
for jelly in seq:
    print(jelly+jelly)  ### this is interesting: guess what the outcome will be?

2
4
6
8
10

### 4.2 Iteration: while Loops
- Contrary to the for loop, continuously run a piece of code UNITL a CONDITION has been met (i.e., we don't know how many times the code will run)
- <font color=red>Kernel --> Restart</font> if you create an infinite loop
- the idea: while condition is true, keep doing the stuff
- our while loop practices have not been very successful, so let's start with the basics.

In [148]:
i = 1     ### i == index
while i < 5:
    print('i is: {}'.format(i))    ### let's use print with the format function here.
    i = i+1     ### incrementor: without this, you will have an infinite loop because 
                ### the condition will always be true

i is: 1
i is: 2
i is: 3
i is: 4

In [ ]:
### let us create an infinite loop

### 4.3 range() function with for loop

In [149]:
range(5)    ### generate a range object

range(0, 5)

In [150]:
range(0, 5) ### default beginning value is 0

range(0, 5)

In [151]:
for i in range(5):
    print(i)

0
1
2
3
4

In [152]:
for x in range (2, 5):    ### will give us 2, 3, 4. Note that it stops before 5
    print(x)

2
3
4

In [154]:
### generate a list quickly
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 4.4 list comprehension

In [156]:
x = [1, 2, 3, 4]

In [157]:
### creating a list using a for loop
list = []
for item in x:
    list.append(item**2)    ### appending values to a list
print(list)

[1, 4, 9, 16]

In [160]:
### create a list using list comprehension
[item**2 for item in x]     ### list comprehension; a for loop backwards
                            ### grab the for statement and put the temp var operation before it

[1, 4, 9, 16]

## 5. functions
- use the <font color=red>def</font> keyword
- to avoid writing repetitive code
- parameters (positional arguments)
- return

In [165]:
def my_func(param1='default value'):    ### this function has a default argument/param value
    """
    Docstring goes here.
    """
    print(param1)

In [166]:
my_func    ### execution: when you forget the parentheses, you see the Python object code

In [168]:
### this funciton print output, no giving a return
my_func()    ### () for execution: we get the default value in the parameter

default value

In [169]:
my_func('new argument')    ### now let's pass a new argument to REPLACE the default value

new argument

In [170]:
my_func(param1='argument 2')    ### or specifically assign value to the parameter

argument 2

In [171]:
def func1 ():    ### no parameter, not much useful
    print ('This is a function without parameter')
func1()

This is a function without parameter

In [172]:
def func2 (name):    #### generally we like it this way. The intake of params add functionality
    print('Hello, ' + name)
func2("John")

Hello, John

In [173]:
def func2 (name):   
    print('Hello, ', name)    ### or this (, instead of + )
func2("John")

Hello,  John

In [174]:
### multiple parameters
def func3 (fname, lname):
    print('Hi, ', fname, lname)
func3('John', 'Smith')

Hi,  John Smith

In [175]:
### or, we can specify the params to control the order and add clarity
### if you are specifying params, specify all.
func3(lname='Chen', fname='TY')

Hi,  TY Chen

In [176]:
### do all parameters have to be used? Yes
def func4 (fname, lname, attribute):
    print('Hi, ', fname, lname, 'you are', attribute, '!')

func4(fname='TY', lname='Chen', attribute='awesome')

Hi,  TY Chen you are awesome !

In [177]:
### taking out of spaces in printing variables
def func4 (fname, lname, attribute):
    print('Hi, ', fname, lname, 'you are', attribute, '!', sep="")

func4(fname='TY', lname='Chen', attribute='awesome')

Hi, TYChenyou areawesome!

### 5.1 function: return (==> save to variable)

In [178]:
### instead of print(), return
def square(x):
    return x**2

In [179]:
### make the function call and save the returned value to a variable
### variables are more useful
out = square(2)

In [180]:
out

4

In [181]:
print(out)

4

In [182]:
### return here to see the value without assigning to variable. (not much use)
def times2(num):
    return num * 2

times2(1000)

2000

In [183]:
times2(9)

18

## 6. documenation string

In [184]:
def func5(num):
    """
    THIS IS A DOCUMENATION STRING, OR DOCSTRING.
    DOCSTRINGS ARE USED TO PROVIDE DOCUMENATION.
    FOR EXAMPE:
    THIS FUNCTION SQUARES A NUMBER.
    """
    return num**2

In [185]:
func5(3)

9

In [188]:
### use Shift-Tab to see the documentation
func5

In [190]:
### now try reading the range function
range

range

## 7. map() function
- run a function using the elements in the iterable argument

In [2]:
### Here our function is times2()
def times2(var):
    return var*2

In [3]:
times2(99)

198

In [4]:
### seq is a list [  ] 
seq = [1, 2, 3, 4, 5]

- Shift + Tab to see documentation: map(func, *iterables) --> map object

In [5]:
### Instead of using a for loop to loop through the list
### We operate the function times2 on every element of the list
### We run the function using the iterable as argument 
map(times2, seq)
### return the ojbect typ and memory address; not too informative

In [6]:
### pass the result to a list function to make the object a list
list(map(times2, seq))

[2, 4, 6, 8, 10]

### the ‘list’ object is not callable error
- just restart the kernel

## 8. lambda expressions

- AKA: anonymous function
- lambda is used so we don't have to write full independent functions. 
- Used in the Pandas library a lot.

In [7]:
### how we turn a function to a lambda express 
### def func(var):
###     return var*2
### ==> def func(var): return var*2 ### function in one line
### ==> var : var*2 ### keep var & var*2 and remove other elements
### ==> lambda var: var*2 ### add the term "lambda"
### lambda is just a shorthand
lambda var:var*2
### now we have a lambda express (function)

In [8]:
### you could save the lamda expression as a variable
### but we don't usually do this because we want lamda to be straightforward. 
lam = lambda var : var * 2

In [9]:
lam(5)

10

In [10]:
### we don't need an independent function now that we have lambda (anaymous function)
### remember the syntax of map? we use lambda without a function
list(map(lambda var: var*2, seq))

[2, 4, 6, 8, 10]

## 9. filter function
  - filter out elements from a sequence
  - the syntax is: filter (function/lambda, sequence)
  - returns a boolean on every element and show the elements with return True

In [11]:
### lambda expressions are (ananimous) funcitons
filter(lambda var: var%2 == 0, seq)
### need to cast to a list to get back the results

In [12]:
### cast to a list
### filter out only even numbers
### the lambda here will return a boolean value, then call into the iterable
### list() gives us the final values

list(filter(lambda var: var%2 == 0, seq))

[2, 4]

## 10. methods
- definition: calls to objects

### 10.1 string methods
- lower()
- upper()
- split()

In [13]:
### Let's make a string. 
str = 'Pitt Bradford is cool.'

In [19]:
### now let's add a DOT and hit TAB for available "methods"
### make sure your cursor is right after the .
### use the index method to find the index of certain string
str.         
str.index('cool')

SyntaxError: invalid syntax (2119130608.py, line 4)

In [20]:
### There are so many methods. Commonly used methods include: lower, upper, split()

str.lower()
### just like functions, methods need a pair of parentheses to work

'pitt bradford is cool.'

In [21]:
str.upper()

'PITT BRADFORD IS COOL.'

In [22]:
### split() will split string by " ", the default IFS

str.split()

['Pitt', 'Bradford', 'is', 'cool.']

In [23]:
### now we change the IFS 

str.split("is")

['Pitt Bradford ', ' cool.']

In [329]:
### Example: use the split() method for tweet message analysis: 
### e.g., a message with 3 hash tags. We want to retrieve the texts.

tweet = 'The greatest baseball player ever! #Giants #BestGameEver, ##TYisHere'

In [330]:
### split() by #, now we got a list with 
tweet.split('#')

['The greatest baseball player ever! ',
 'Giants ',
 'BestGameEver, ',
 '',
 'TYisHere']

In [336]:
### tweet is the tweet message and tweet[0] is the first hash tag
### of course this does not give us all the hash tags, but it's something to start with

# tweet
tweet.split('#')[0]
# tweet.split('#')[1]

'The greatest baseball player ever! '

In [337]:
### now use slicing notation to get all the hash tags; data type is list
tweet.split('#')[1:]

['Giants ', 'BestGameEver, ', '', 'TYisHere']

### 10.2 dictionary methods
- keys
- values
- items

In [338]:
### dictionary methods
dict = { 'key1':1, 'key2':2, 'key3':3 }

In [347]:
### now dict. and tab to show the methods avaiable for a dict object
dict.values()

dict_values([1, 2, 3])

In [348]:
### show items
dict.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [ ]:
### the keys() method will return the keys in a dictionary
dict.keys()

In [204]:
### get the keys in the dictionary
keys = dict.keys()

In [205]:
### the object is a dictionary containing a list
### when printed, we get the same ouput
print(keys)

dict_keys(['key1', 'key2', 'key3'])

In [206]:
### if we prefer a list for the keys for further processing:
### this, of course, gives us some data information about the dictionary
list(keys)

['key1', 'key2', 'key3']

In [207]:
### show values
dict.values()

dict_values([1, 2, 3])

### 10.3 list methods: pop(), append(), & insert()
- .pop() removes elements from a list
- by default, pop() removes the last item
- with indexing notation, removes items in any position
- pop() changes the list immediately
- insert() method syntax: list.insert(index, obj)
- remove() method syntax: list.remove(obj)

In [271]:
a_list = [1, 2, 3, 4, 5 ]

In [274]:
### by default, .pop() removes the last element
a_list.pop()   ### the last element, 5, is popped. The list is now 1, 2, 3, 4

4

In [276]:
popped = a_list.pop() ### now 4 is popped

In [277]:
print(popped)

3

In [281]:
a_list

[1, 2]

In [283]:
### how about remove the first item, or any item?
### use indexing

a_list.pop(0)

1

In [285]:
### now the opposite of pop() --> append()
### append, like pop, chinages the list immediately when executed
a_list.append(4)
a_list

[2, 4, 4]

In [286]:
a_list.append(5)

In [295]:
a_list.insert(0, 5) ### the insert() method: 1st para is position, 2nd is value

In [297]:
a_list

[5, 5, 1, 1, 1, 2, 4, 4, 5]

In [299]:
### now let's do remove() (list.remove(obj))
a_list.remove(5)

In [303]:
a_list

[5, 1, 1, 1, 2, 4, 4, 5]

In [300]:
### the in operator to check the existence of an item in a list
'x' in [1,2,3]

False

In [304]:
5 in a_list

True

In [305]:
'x' in ['x','y','z']

True

## 11. Tuple unpacking for playing with data

In [229]:
### a list that contains tuples
### list of tuples is a common data formatting in Python. Many processing would return data in such format.
x = [(1,2), (3,4), (5,6)]

In [230]:
print(x)

[(1, 2), (3, 4), (5, 6)]

In [231]:
x

[(1, 2), (3, 4), (5, 6)]

In [232]:
x[0]

(1, 2)

In [234]:
x[0][1]   ### get this! learn how to access data in an "table"

2

In [236]:
### Tuple unpacking: iterating through a list of tuples
### iterating (looping) through a list
for item in x:
    print (item)   ### print out the tuples

(1, 2)
(3, 4)
(5, 6)

In [238]:
### this is tuple unpacking
for (a,b) in x: ### unpacking happens here
    print(a)
    # print(a)
    # print(b)

1
3
5

# Great Job Done!